:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #000;
  background-color: #fff;

  color-scheme: light dark;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #fff;
    background-color: #d3d3d3;
  }
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;

  color: inherit;
  background-color: inherit;
}
